awscli==1.16.57
beautifulsoup4==4.6.3
boto3==1.9.47
botocore==1.12.47
bs4==0.0.1
cached-property==1.5.1
certifi==2018.10.15
chardet==3.0.4
colorama==0.3.9
DBUtils==1.3
docker==3.5.1
docker-compose==1.23.1
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
et-xmlfile==1.0.1
idna==2.7
jdcal==1.4
jmespath==0.9.3
jsonschema==2.6.0
lxml==4.2.5
mysql-connector-python==8.0.13
openpyxl==2.5.10
Pillow==9.3.0
protobuf==3.6.1
pyasn1==0.4.4
PyAutoGUI==0.9.38
PyMsgBox==1.0.6
PyQt5==5.10.1
PyQt5-sip==4.19.17
PyScreeze==0.1.18
python-dateutil==2.7.5
PyTweening==1.0.3
PyYAML==3.13
requests==2.20.1
rsa==3.4.2
s3transfer==0.1.13
selenium==3.141.0
sip==4.19.8
six==1.11.0
texttable==0.9.1
urllib3==1.24.1
uuid==1.30
websocket-client==0.54.0
